= form_with model: [:teacher, @course, @post] do |form|
  - if @post.errors.any?
    %div{ style: "color: red" }
      %h2= @post.errors.count == 1 ? t("form.error_message.one", model: "post") : t("form.error_message.other", count: @post.errors.count, model: "post")
      %ul
        - @post.errors.each do |error|
          %li= error.full_message

  .my-5
    = form.label :title
    = form.text_field :title, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"

  .my-5
    = form.label :body
    = form.rich_text_area :body, rows: 3, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"

  %h4 Comments
  = form.fields_for :comments do |comments_form|
    = render "teacher/posts/comment_fields", f: comments_form

  = link_to_add_association "add comment", form, :comments

  .inline.mt-4
    = form.submit "Save", class: "rounded-lg py-2 px-3 btn btn-primary"
