= turbo_stream_from post
%p{style: "color: green"}= notice

%section.section
  .container
    %nav.level
    .content
      %strong{style: "color: blue;"}= post.title
      = post.body.to_plain_text

    = link_to t("edit"), edit_teacher_course_post_path(course, post)
    |
    = link_to t(".back_to_posts"), teacher_course_posts_path(course)

    = button_to t("delete"),
      [:teacher, course, post],
      method: :delete,
      class: "btn btn-danger"

    = render template: "shared/comments/index", locals: {comments: post.comments, role: :teacher, new_path: new_teacher_course_post_comment_path(course,post)}
      