%p{:style => "color: green"}= notice
%section.section
  .container
    %nav.level
    .content
      %strong{:style => "color:blue;"}= post.title
      = post.body
    %hr/
    %section.section.comments
      .container
        %strong.subtitle.is-5{:style => "color: green ;"}= t(".students_comments")
        %p
        = render post.comments
        .comment-form
          %h3.subtitle.is-3= t(".leave_comment")
          = turbo_frame_tag "post_comment_form"
          = render "student/comments/form"
