= turbo_stream_from post
%section.section
  .container
    %nav.level
    .content
      %strong{style: "color:blue;"}= post.title
      = post.body

    %hr
    %section.section.comments
      .container
        %strong.subtitle.is-5{style: "color: green;"}= t(".students_comments")
        #comments
          = render post.comments

        .comment-form
          %turbo-frame#create_comment
            = link_to t(".leave_comment"),new_student_course_post_comment_path(course,post)
