- if @progress <= 25
  - message = t(".progress_25")
  - class_v = "progress-bar bg-danger"
- elsif @progress <= 50
  - message = t(".progress_50")
  - class_v = "progress-bar bg-warning"
- elsif @progress <= 75
  - message = t(".progress_75")
  - class_v = "progress-bar bg-info"
- elsif @progress < 90
  - message = t(".progress_90")
  - class_v = "progress-bar bg-primary"
- else
  - message = t(".progress_100")
  - class_v = "progress-bar bg-success"

%h1= t(".your_progressbar")
%br/
.progress
%div{ aria_valuenow: @progress, class: "progress-bar #{class_v}", role: "progressbar", style: "width: #{@progress}%" }
  = "#{@progress}%"
%br/
%div{style: "margin-left: 50px"}
  %h4{style: "color: olivedrab"}= message
  %h6
  = t(".finished_assignments",submitted: @submitted.round, total: @total.round)
   
