= form_with model: [:teacher, @course, @assignment],
 data: { controller: "flatpickr" } do |form|
  - if @assignment.errors.any?
    %div{style: "color: red"}
      %h2= submission.errors.count==1 ? t("form.error_message.one", model: "assignment" ):t("form.error_message.other", count: @assignment.errors.count, model: "assignment" )
      %ul
        - @assignment.errors.each do |error|
          %li= error.full_message
  %div
    = form.label :title, style: "display: block"
    = form.text_field :title
  %div
    = form.label :deadline, style: "display: block"
    = form.datetime_field :deadline, class: "deadline"
  %div
    = form.label :content, style: "display: block"
    = form.rich_text_area :content
  %div
    = form.submit