%p{style: "color: green"}= notice
= render assignment
.container
  .row.justify-content-start
    .col-2
      = button_to t("edit"),
        edit_teacher_course_assignment_path(course, assignment),
        method: :get,
        class: "btn btn-warning"
    .col-2
      = button_to t("delete"),
        [:teacher, course, assignment],
        method: :delete,
        class: "btn btn-danger"
    .col-2
      = button_to t(".submissions_for_assignment"),
        teacher_course_assignment_submissions_path(course, assignment),
        method: :get,
        class: "btn btn-primary"
%br/
= button_to t(".back_to_assignments"),
  teacher_course_assignments_path,
  method: :get,
  class: "btn btn-info"