%p{style: "color: green"}= notice
- content_for :title, "Courses"

%h1{style: "margin-left: 15px"} Your Courses:
%br/

#courses
  .container
    .row.row-cols-1.row-cols-md-3.g-3
      - @courses.each do |course|
        .col
          .card{style: "height: 100%; margin-left: 20px; border-bottom-color: black;"}
            = render course

            .row.g-2{style: "margin: 10px 0;"}
              / Buttons aligned horizontally
              .col-auto
                = button_to "Assignments", stud_course_assignments_path(course.id),
                              method: :get, class: "btn btn-primary"
              .col-auto
                = button_to "Posts", stud_course_posts_path(course.id),
                              method: :get, class: "btn btn-primary"

            / Unenroll button below
            .row{style: "margin: 10px 0;"}
              .col
                = button_to "Unenroll from this course", unenroll_stud_courses_path(course_id: course.id),
                              method: :delete,
                              class: "btn btn-danger",
                              data: { turbo_confirm: "Are you sure you want to withdraw from #{course.name}?" }
