%p{style: "color: green"}= notice

= render @assignment

%div
  - if @is_submitted
    = link_to "Your submission", stud_course_assignment_submission_path(@course, @assignment)
  - elsif @is_deadline_finished
    %a{style: "color: red;"} Deadline is overdue for this assignment!
  - else
    = button_to "New submission", new_stud_course_assignment_submission_path(@course, @assignment), method: :get, class: "btn btn-primary"

  = link_to "Back to assignments", stud_course_assignments_path
