= form_with(model: [ :stud, @course,@assignment, submission ]) do |form|
  - if submission.errors.any?
    %div{:style => "color: red"}
      %h2
        = pluralize(submission.errors.count, "error")
        prohibited this submission from being saved:
      %ul
        - submission.errors.full_messages.each do |error|
          %li= error
  %div
    = form.label :title, style: "display: block"
    = form.text_field :title
  %div
    = form.label :file, style: "display: block"
    = form.file_field :file
  %div
    = form.submit
