%p{style: "color: green"}= notice

- content_for :title, t(".title",course_name: @course.name)

%h1= t(".title",course_name: @course.name)

#assignments
  %table.table
    %thead
      %tr
        %th{scope: "col"}= t(".assignment") 
        %th{scope: "col"}= t(".deadline") 
    %tbody
      - @assignments.each do |assignment|
        %tr
          %td= link_to assignment.title, student_course_assignment_path(@course, assignment)
          %td= assignment.deadline.strftime("%B %d, %Y %I:%M %p")

= link_to t(".back_to_course"), student_course_path(@course)
