%p{style: "color: green"}= notice

- content_for :title, "Assignments"

%h1
  Assignments for #{@course.name}

#assignments
  %table.table
    %thead
      %tr
        %th{scope: "col"} Assignment
        %th{scope: "col"} Deadline
    %tbody
      - @assignments.each do |assignment|
        %tr
          %td= link_to assignment.title, student_course_assignment_path(@course, assignment)
          %td= assignment.deadline.strftime("%B %d, %Y %I:%M %p")

= link_to "back to course", student_course_path(@course)
