<p style="color: green"><%= notice %></p>

<section class="section">
	<div class="container">
		<nav class="level">
		 
		</nav>
		<div class="content">
      <strong style="color:blue;"><%= @post.title%></strong>
			<%= @post.body %>
		</div>
	<hr />
<section class="section comments">
	<div class="container">
		<strong class="subtitle is-5" style="color: green ;">Student Comments for this post:</strong>
		<p></p>
		<%= render @post.comments %>
		<div class="comment-form">
		
			<h3 class="subtitle is-3">Leave a comment</h3>
	 		<%= render "stud/comments/form", post:@post %> 
		</div>
	</div>
</section>