%p{:style => "color: green"}= notice
- content_for :title, "Assignments"
%h1
  Assignments for #{@course.name}
#assignments
  %table.table
    %thead
      %tr
        %th{:scope => "col"} Assignment
        %th{:scope => "col"} Deadline
    %tbody
      - @assignments.each do |assignment|
        %tr
          %td= link_to assignment.title, [:teach,@course, assignment]
          - if assignment.deadline
            %td= assignment.deadline.strftime("%B %d, %Y %I:%M %p")
= button_to "New assignment", new_teach_course_assignment_path, method: :get, class:"btn btn-success"
